{% extends 'vitrine/base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<div >
    test
</div>
<style>
div {
    /* border: 1px red dotted */
}
</style>
{% endblock %}
